<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Relics</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/vue@3.2.4.js"></script>
    <script src="js/relicsUpradeSim.js"></script>
    <style>
        #vueApp{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        .relicsBox{
            margin: 20px 10px;
            width: 10rem;
            font-size: 0.9rem;
        }
        .buttonBox{
            position: fixed;
            width: 200px;
            right: 15%;
            bottom: 50px;
            z-index: 10;
        }
        #start{
            float: left;
        }
        #clear{
            float: right;
        }
    </style>
</head>

<body>
    <div id="vueApp">
        <div v-for="(relics,index) in relicsList" class="relicsBox card shadow-sm rounded">
            <div class="card-body">
                <div class="card-text fs-6 fw-bolder">{{ toChinese(relics.part,"parts") }}</div>
                <div class="card-text">主属性:{{ toChinese(relics.mainEntry,"mainEntry") }}</div>
                <span class="badge bg-dark">+{{ relics.level }}</span>
            </div>
            <ul v-for="(entry,index2) in relics.entry" class="list-group list-group-flush">
                <li class="list-group-item">{{ toChinese(entry[0],"entry") }} : {{ Number(entry[1].toFixed(2)) }}</li>
            </ul>
            <div class="card-body">
                <button id="upgrade" @click="relicUpgrade(index)" class="btn btn-primary btn-sm">强化</button>
                <button id="deleteRelic" @click="deleteRelic(index)" class="btn btn-warning btn-sm float-end">删除</button>
            </div>
        </div>
        <div class="buttonBox">
            <button id="start" @click="start" class="btn btn-primary">新增数据</button>
            <button id="clear" @click="relicClear" class="btn btn-danger">清除数据</button>
        </div>
    </div>

    <!-- <script type="module">
        import {creatRelic,parts,partsCh,entryList,entryListCh,mainEntryList,mainEntryListCh} from "./js/relicUpgradeSim.js"
    </script> -->
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    slogan: "hello",
                    relicsList: []
                }
            },
            created(){
                if(!window.localStorage){
                    alert("浏览器不支持localstorage");
                    return false;
                }else{
                    if(localStorage.localRecord != '' || localStorage.localRecord != []){
                        creatRelic.result = JSON.parse(localStorage.getItem("localRecord"));
                        this.relicsList = JSON.parse(localStorage.getItem("localRecord"));
                    };
                }
                console.log("Vue is runnning.");
            },
            methods:{
                start(){
                    creatRelic.random();
                    this.relicsList = [...creatRelic.result];
                    this.localRecord(this.relicsList);
                },
                relicUpgrade(index){
                    creatRelic.upgrade(index);
                    this.relicsList = [...creatRelic.result];
                    this.localRecord(this.relicsList);
                },
                relicClear(){
                    creatRelic.clearAll();
                    this.relicsList = [...creatRelic.result];
                    this.localRecord(this.relicsList);
                },
                deleteRelic(index){
                    creatRelic.deleteOne(index);
                    this.relicsList = [...creatRelic.result];
                    this.localRecord(this.relicsList);
                },
                localRecord(record){
                    if(!window.localStorage){
                        alert("浏览器不支持localstorage");
                        return false;
                    }else{
                        localStorage.localRecord = JSON.stringify(record);
                    }
                },
                toChinese(word,type){
                    if(type == "entry"){
                        return entryListCh[entryList.indexOf(word)]
                    }else if(type == "parts"){
                        return partsCh[parts.indexOf(word)];
                    }else if(type == "mainEntry"){
                        return mainEntryListCh[mainEntryList.indexOf(word)];
                    }
                }
            }
        }).mount('#vueApp');
    </script>
</body>

</html>